*,
*::before,
*::after {
  box-sizing: border-box;
}
.mobile {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2 em;
}
.logo {
  background-color: black;
  height: 60px;
  text-align: left;
}
.logoimg {
  width: 150px;
  margin-left: 20px;
  margin-top: 3px;
}
header {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  height: 400px;
  text-align: center;
}

.titoli {
  color: #25a2c3;
}
.titoli2 {
  font-family: "Montserrat", sans-serif;
}
.corso {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-inline: 50px;
  font-size: 2.5em;
}
.corso2 {
  width: 750px;
  padding-bottom: 30px;
  margin-inline: auto;
  font-size: 1.2em;
  line-height: 1.5;
}
.bottone {
  background-color: #f04c2f;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1.25em;
  border: solid 2px #f04c2f;
  border-radius: 4px;
}
.img1 {
  width: 350px;
  border-radius: 200px;
  margin-left: 150px;
  margin-right: 50px;
  display: inline-block;
}
.float {
  padding-bottom: 200px;
}
.par {
  font-size: 1em;
  line-height: 1.5;
}

.titolip1 {
  font-size: 1em;
}
.garanzie {
  margin-top: 70px;
  background-color: rgb(243, 17, 9);
  color: white;
  height: 300px;
  margin-bottom: 40px;
  text-align: center;
}
.eg {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 1.5em;
}
.mesi {
  padding-bottom: 20px;
}
.CEO {
  padding-top: 10px;
  font-size: 0.7em;
}
.container {
  text-align: center;
}
.img2 {
  width: 300px;
  height: 200px;
}
.divimg {
  display: inline-block;
  margin-top: 40px;
  width: 300px;
  box-shadow: 1px 1px 10px;
  text-align: center;
  margin-inline: 20px;
}
footer {
  margin-top: 70px;
  height: 300px;
  background-color: #25a2c3;
  color: white;
}
.link {
  color: white;
}
.Contattaci {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 2em;
  text-align: center;
}
.pfooter {
  padding-bottom: 10px;
  margin-left: 570px;
}
.immagini {
  text-align: center;
  padding-top: 40px;
}
hr {
  width: 300px;
}
.divfooter {
  text-align: left;
  margin-left: 600px;
}
